@import "./mixin.scss";

.app-layout {
  background: #f5f7f9;
  min-height: 100vh;
  position: relative;

  .header {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #d7dde4;
  }
  .ivu-layout-header {
    padding: 0 20px;
  }

  .sidebar-container {
    @include scrollBar;
    position: fixed;
    height: calc(100vh - 64px);
    left: 0;
    top: 64px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-right: 1px solid #d7dde4;

    .menu-item {
      .ivu-tooltip{
        width: 100%;
      }
      span {
        display: inline-block;
        overflow: hidden;
        width: 69px;
        margin-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
      }

      i {
        transition: all .2s ease;
        vertical-align: middle;
        font-size: 16px;
      }
    }

    .collapsed-menu {
      svg {
        font-size: 20px;
      }

      span {
        width: 0;
        transition: width .2s ease;
      }

      i {
        transform: translateX(100px);
      }
      .ivu-menu-item,.ivu-menu-submenu-title{
        padding: 25px 20px 0 20px !important;
      }
    }
  }

  .content {
    @include scrollBar;
    margin: 64px 0 0 256px;
    padding: 0 16px 0 16px;
    height: calc(100vh - 64px);
    overflow-x: hidden;
    overflow-y: auto;

    .content-header {
      text-align: left;

      .content-header-icon {
        display: inline-block;
        margin: 0px 10px 0px 0px;
        vertical-align: middle;
        cursor: pointer;
      }

      .bread-crumb {
        display: inline-block;
        margin: 12px 0px;
        text-align: left;
      }
    }

    .app-main {
      //min-height: calc(100vh - 110px);
      width: 100%;
      position: relative;
      background: #fff;
      padding: 20px;
    }
  }
}


.menu-icon {
  transition: all .3s;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.open-menu {
  margin-left: 210px !important;
}

.close-menu {
  margin-left: 64px !important;
}

.collapsed-menu-dropdown {
  width: 100%;
  margin: 0;
  line-height: normal;
  padding: 7px 0 6px 16px;
  clear: both;
  //font-size: 12px !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: rgba(100, 100, 100, 0.1);
  }

  & * {
    color: #515a6e;
  }

  .drop-menu-a i {
    margin-top: 2px;
  }

  .ivu-select-dropdown {
    margin-left: 2px;
  }
}

.collapsed-drop-down {
  overflow: visible !important;
  margin-left: 23px;
  top: 0;

  .svg-icon {
    margin-right: 8px;
  }

  .ivu-dropdown-item {
    &:hover {
      background: rgba(100, 100, 100, 0.1);
    }

    & * {
      color: #515a6e;
    }
  }
}
